
$body-bg: $black;
$red: rgb(216, 1, 22);
$primary: #B548D9;
$body-color: $white;
$table-accent-bg: rgba($white, .05);
$table-hover-bg: rgba($white, .15);
$jumbotron-bg: $gray-900;
$list-group-bg: $gray-900;
$modal-content-bg: $gray-900;
$card-cap-bg: rgba($black, .15);
$secondary: #41C8E4;
$link-hover-color: theme-color("primary");
$link-decoration: underline;
$link-color: $white;